body{
    background: url('chuck-fortner.jpg');
}
.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.card{
    width: 28rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.548), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgba(129, 129, 129, 0.281);
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 40%;
    right: 40%;
    left: 30%;
    z-index: 1000;
    display: none;
    &-header {
        background: rgb(162, 108, 224);
        color: white;
        padding:0.8;
        font-size: 2.1rem;
    }
    
    &-footer {
        padding: 0.8rem;
        display: flex;
        gap: 1rem;
        justify-content: space-around;

        button{
            width: 8rem;
            border: 1px solid rgb(218, 17, 17);
            background-color: rgb(236, 136, 136);
        }
       
        .btn-exit:hover{
            background: red;
        }
    }
}

h1{
    font-size: 3rem;
}
.score{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right:auto;

    h2{
        margin-left: auto;
        margin-right: auto;
        font-size: 3rem;
    }
}
.score-item{
    display: flex;
    justify-content: space-between;

    p{
        font-size: 2rem;
    }
}


.container-selector{
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    
    .player-div{
    
        width: 50%;

        h3{
            color: rgb(186, 231, 235);
        }

        &-items{
            display: flex;
            justify-content: space-between;
        }
    }

    .computer-div{
        width: 50%;

        h3{
            color: rgb(186, 231, 235);
        }

        &-items{
            display: flex;
            justify-content: space-between;
        }
    }
}

button{
    width: 5.3rem;
    padding: 0.3rem auto 0.3rem auto;
    background: rgb(221, 177, 238);
    border: 0;
    border-radius: 25px;
    font-size: 1.2rem;
}
button:hover{
    background: rgb(92, 233, 134);
}
#round-winner{
    font-size: 1.2rem;
    color: white;
}